@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: 'DW';
    src: url(fonts/Doctor-Who.ttf) format(truetype);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #201b2c;
    color: white;
    font-family: 'Kanit';
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

}

/*CABEÇALHO*/
.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.main-header h1 {
    font-family: 'DW', sans-serif;
    font-weight: normal;
    font-size: 40pt;
    text-shadow: 5px 5px 10px black;
}

.nav-bar ul li {
    display: inline;
    text-shadow: 5px 5px 10px black;
    
}

.nav-bar ul li a:hover {
    background-color: #3d315a;
    border-radius: 15px;
}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Kanit';
    font-weight: 400;
    font-size: 15pt;
    padding: 30px;
}
/*FIM DO CABECALHO*/

/*INTRODUÇÃO*/
#about-show {
    background-color: #3d315a;
}

.container h2 {
    font-size: 30pt;
}

.container .introduction p {
    font-size: 18pt;
}

.container .introduction {
    padding: 50px 0;
    margin-bottom: 50px;
    font-family: 'Kanit';
    text-shadow: 2px 2px 5px black;
}

.introduction h2 {
    margin-bottom: 8px;
}

.introduction p {
    text-align: justify;
    margin-bottom: 8px;
}

.introduction span {
    color: #80f0e1;
}

/*FIM DA INTRODUCAO*/

